/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

#editor { 
    height: 275px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

#btnCloseEditor {
    display: none;
}

.container {
    background-color: #fff;
    color: rgb(52, 52, 52);
    padding: 15px 0px;
}

.container h1 {
    line-height: 1.1;
    font-size: 70px;
}

.container p {
    font-size: 20px;
    font-weight: 400;
}

body {
    background-color: rgb(36, 36, 36);
    color: #fff;
}

#footer {
    padding: 15px 0px;
    clear: both;
    color: #fff;
}