/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

#editor { 
    min-height: 500px;
    width: 49%;
    float: left;
    display: none;
}

#btnCloseEditor {
    display: none;
}

.container {
    background-color: #fff;
    color: rgb(52, 52, 52);
    padding: 15px 0px;
}

body {
    background-color: rgb(36, 36, 36);
    color: #fff;
}

#footer {
    padding: 15px 0px;
    clear: both;
    color: #fff;
}